@font-face { 
    font-family: Orkl; 
    src: url('../../Fonts/Orkney\ Light.otf'); 
    font-weight: Light; 
    }
    @font-face { 
        font-family: Ork; 
        src: url('../../Fonts/Orkney\ Regular.otf'); 
        font-weight: Normal; 
        }

.cardsign{
    display: flex;
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(340deg,#4E426F, #695076,#8D6182);
    flex-direction: column;
}
.divlogsup{
    display: flex;
    width: 100%;
    height: 37vh;
    justify-content: center;
    align-items: center;
    
}
.bodymodal{
    display: flex;
    width: 90%;
    height:90%;
    background-color: #1b1b1b38;
}
.modalstyle{
    display: flex;
    width: 100%;
    height: 70%;
    border: none;
    position: absolute;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10000;
    top: 30%;
    background-image: linear-gradient(340deg,#4E426F, #695076,#8D6182);
}
.modalstyle:hover{
    display: flex;
    width: 100%;
    height: 70%;
    border: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    z-index: 10000;
    top: 30%;
    background-image: linear-gradient(340deg,#4E426F, #695076,#8d6182);
}

.divlogsub{
    display: flex;
    width: 100%;
    height: 37vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    background-color: rgba(219, 21, 21, 0);
}
.centerdivitem{
    display: flex;
    width: 100%;
     height: 100%;
    margin: 6px;
    background-color: rgba(32, 192, 192, 0);
    flex-direction: column;
}
.divlogcorp{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     background-color: rgba(17, 127, 224, 0);
}
.divtextloginput{
    display: flex;
    width: 90%;
    color: rgb(224, 226, 226);
    font-size: 10px;
    
}
.inputintern{
    display: flex;
    align-items: center;
    width: 100%;
    height: 10vh;
    background-color: rgba(0, 0, 0, 0);
}
.divloglogo{
    display: flex;
    width: 160px;
    height: 60px;
}
.divlogimg{
    display: flex;
    width: 100%;
}

.inputas{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 6px;
    border-width: 1px;
    border-style: outset;
    border-color: rgba(253, 253, 253, 0.856);
    border-top: none;
    border-left: none;
    border-right: none;
}
.btnsigin{
  display: flex;
  width: 92%;
  height: 45px;
  margin-left: 6px;
  margin-top: 25px;
  font-size: 14px;
  border-radius: 8px;
  align-items: center;
  justify-content: center;
  border-radius: 8px;
  background-color: rgba(224, 193, 16, 0.788);
}
.btnsigin:hover{
    display: flex;
    width: 92%;
    height: 45px;
    font-size: 15px;
    margin-left: 6px;
    margin-top: 25px;
    border-radius: 8px;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: rgb(224, 193, 16);
  }
.btnseletiva{
    display: flex;
    width: 92%;
    height: 45px;
    color: aliceblue;
    font-size: 14px;
    margin-left: 6px;
    margin-top: 25px;
    border-radius: 8px;
    border-width: 2px;
    border-style: outset;
    border-color: rgba(240, 248, 255, 0);
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 253, 251, 0.795);
  }
  .btnseletiva:hover{
    display: flex;
    width: 92%;
    height: 45px;
    color: aliceblue;
    font-size: 15px;
    margin-left: 6px;
    margin-top: 25px;
    border-radius: 8px;
    border-width: 2px;
    border-style: outset;
    border-color: rgba(240, 248, 255, 0);
    align-items: center;
    justify-content: center;
    background-color: rgba(253, 253, 251, 0.856);
  }
  .topinit{
    display: none;
    flex-direction: row;
    width: 100%;
    height: 40px;
  }
  .apart{
    display: flex;
    width: 70%;
    flex-direction: row;
    justify-content: end;
    padding-right: 20%;
  }
  .bpart{
    width: 30%;
    max-width: 400px;
  }
.form-control{
    display: flex;
    width: 90%;
    height: 50%;
    margin: 6px;
    font-size: 14px;
    border-width: 2px;
    border-style:outset;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 5px;
    border-color: rgb(26, 25, 25)
}
.form-control:focus{
    display: flex;
    width: 90%;
    height: 100%;
    margin: 6px;
    font-size: 16px;
    border-width: 1px;
    border-style:inherit;
    border-color: rgb(255, 255, 255);
    background-color: rgba(0, 255, 255, 0);
    border-top: none;
    border-left: none;
    border-right: none;
}
.input-group{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.divoneinit{
    display: none;
    width: 70%;
    height: 100%;
    justify-content: center;
    align-items: center;
}


@media (min-width:1024px) {
    .cardsinone{
        display: flex;
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(340deg,rgba(43, 34, 58, 0.925), #4e3a58,#8D6182);
        flex-direction: column;
    }
    .cardsign{
        display: flex;
        width: 30%;
        max-width: 400px;
        height: 100vh;
        position: absolute;
        z-index: 10;
        top: 0px;
        right: 0px;
        background-image: linear-gradient(340deg,#4E426F, #695076,#8D6182);
        flex-direction: column;
    }
    .btnsele{
        display: flex;
        width: 35%;
        height: 70%;
        padding: 16px;
        color: rgba(240, 248, 255, 0.932);
        font-size: 32px;
        margin-right: 25%;
        border-radius: 8px;
        border-width: 0px;
        font-family: "Orkl",Arial, Helvetica, sans-serif;
        border-style: outset;
        border-color: rgba(240, 248, 255, 0);
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(90deg,rgba(241, 241, 234, 0.116), #ffffff0a,#ffffff00);
      }
      .btnsele:hover{
        display: flex;
        width: 35%;
        height: 70%;
        padding: 16px;
        color: rgba(240, 248, 255, 0.932);
        font-size: 32px;
        margin-right: 25%;
        border-radius: 8px;
        border-width: 0px;
        border-left: none;
        font-family: "Orkl",Arial, Helvetica, sans-serif;
        border-style: outset;
        border-color: rgba(240, 248, 255, 0);
        align-items: center;
        justify-content: center;
        background-image: linear-gradient(90deg,rgba(241, 241, 234, 0.116), #ffffff11,#ffffff11);
      }

      .inputintern{
        display: flex;
        align-items: center;
        width: 100%;
        height: 10vh;
        background-color: rgba(0, 0, 0, 0);
    }
    .topinit{
        display: flex;
        flex-direction: row;
        width: 100%;
        height: 40px;
      }

      .divoneinit{
        display: flex;
        width: 70%;
        height: 90%;
        flex-direction: column;
        justify-content:flex-end;
        align-items:center;
        background-position-x: -100px ;
        background-size: cover;
        background-repeat: no-repeat;
    }
    .barrintbn{
        display: flex;
        width: 100%;
        height: 20%;
        flex-direction:row;
        align-items: center;
        justify-content:flex-start;
        padding-left: 100px;
    }
    .barrintbn4{
        display: flex;
        width: 100%;
        height: 20%;
        color: rgba(255, 255, 255, 0.527);
        font-family: "Orkl",Arial, Helvetica, sans-serif;
        margin-top: 16px;
        flex-direction:column;
        align-items:flex-start;
        justify-content:flex-start;
        padding-left: 100px;
    }
    .redes{
        display: flex;
        width: 40%;
        height: 30px;
        padding: 6px;
        margin-top: 32px;
        flex-direction: row;
        align-items: center;
    }
    .squar{
        display: flex;
        width: 30px;
        transform: rotate(90deg);
    }
    

      .form-control{
        display: flex;
        width: 90%;
        height: 100%;
        margin: 6px;
        font-size: 14px;
        border-width: 2px;
        border-style:outset;
        border-radius: 8px;
        background-color: rgba(0, 228, 228, 0.041);
        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 5px;
        border-color: rgb(26, 25, 25)
    }
    .form-control:focus{
        display: flex;
        width: 90%;
        height: 100%;
        margin: 6px;
        font-size: 16px;
        border-width: 1px;
        border-style:inherit;
        border-color: rgb(255, 255, 255);
        background-color: rgba(0, 255, 255, 0);
        border-top: none;
        border-left: none;
        border-right: none;
    }
}