.cardsplash{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(340deg,#332c44, #4f3b5a,#553e4f,#463642);
}
.splashlogo{
    display: flex;
    width:42px;
    height: 42px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background-color: rgba(221, 70, 24, 0);
}
svg {
	stroke-dasharray: 269.7405090332031px;
	stroke-dashoffset: 0;
	animation: heartBeat 5s linear reverse infinite;
	transform: rotate(-90deg);
}

@keyframes heartBeat {
	50% {
		stroke-dashoffset: 269.7405090332031px;
	}
	50.01% {
		stroke-dashoffset: -269.7405090332031px;
	}
}