@font-face { 
    font-family: Orkl; 
    src: url('../../../Fonts/Orkney\ Light.otf'); 
    font-weight: Light; 
    }
    @font-face { 
        font-family: Ork; 
        src: url('../../../Fonts/Orkney\ Regular.otf'); 
        font-weight: Normal; 
    }



@media (min-width:1024px) {
  
    
}